<h2><img src="/assets/images/interface/chest.png" width="32" height="32" alt="Inventory" title="Inventory"> Inventory</h2>

<ul class="collection">
  <li class="collection-item" *ngFor="let kc of inventory">
    <span>
    <img src="/assets/images/items/{{heroService.getItem(kc.key).imageKey}}.png"
         width="32"
         height="32"
         [alt]="heroService.getItem(kc.key).name + ' - ' + heroService.getItem(kc.key).description"
         [title]="heroService.getItem(kc.key).name + ' - ' + heroService.getItem(kc.key).description"
         class="icon"/> {{heroService.getItem(kc.key).name}} x {{kc.count}}
    </span>
  </li>
</ul>
