<div class="location">
  <div class="title">
    <p>You are at the</p>
    <h2><span class="sprite {{currentLocationKey}}"></span> {{currentLocation.name}}</h2>
  </div>
  <div class="description">
    {{currentLocation.description}}
  </div>
</div>

<div class="actions">

  <div id="item-drop-area" class="item-drop-area" droppable="true" (drop)="onDrop($event)" (dragover)="allowDrop($event)"><p>Drop items to craft or use here</p></div>

  <div class="options">
    <button type="button" class="btn" (click)="use()">Use</button>
    <button type="button" class="btn" (click)="clear()">Clear</button>
    <button type="button" class="btn" (click)="craft()">Craft</button>
  </div>

</div>

<div class="menu">
  <ul>
    <li>Items</li>
    <li>Locations</li>
  </ul>
</div>

<div class="items">
  <ul>
    <li *ngFor="let item of currentHero.getItems() | keyvalue">
      <app-sprite key="{{item.key}}" tooltip="{{item.value.name}} - {{item.value.description}}"></app-sprite>
    </li>
  </ul>
</div>

<div class="locations">
  <ul >
    <li (click)="setLocation(location.key)" *ngFor="let location of currentHero.getLocations() | keyvalue">
      <app-sprite key="{{location.key}}"></app-sprite> - {{location.value.name}}
    </li>
  </ul>
</div>
