<div class="location">
  <div class="title">
    <h2><img src="/assets/images/locations/{{currentLocationKey}}.png" width="32" height="32" class="icon"/> {{currentLocation.name}}</h2>
  </div>
  <div class="description">
    {{currentLocation.description}}
  </div>
</div>

<div class="actions">

  <div class="item-drop-area"></div>

  <div class="options">
    <button type="button">Use</button>
    <button type="button">Craft</button>
  </div>

</div>

<div class="menu">
  <ul>
    <li>Items</li>
    <li>Locations</li>
  </ul>
</div>

<div class="items">
  <ul *ngFor="let item of currentHero.getItems() | keyvalue">
    <li>{{item.key}} {{item.value.name}} {{item.value.description}}</li>
  </ul>
</div>

<div class="locations">
  <ul>
    <li>Location</li>
  </ul>
</div>
