<div class="rewards">
  <h3>Rewards</h3>
  <div *ngIf="quest.rewardedGold">Rewarded Gold: {{quest.rewardedGold}}</div>
  <div *ngIf="quest.rewardedItems.length > 0">
    <app-item-count
      *ngFor="let itemQuantity of quest.rewardedItems"
      [item]="gameDataService.getItem(itemQuantity.key)"
      [itemCount]="itemQuantity.count"></app-item-count>
  </div>
  <div *ngIf="quest.unlockCraftKeys.length > 0">
    <app-reward-unlock *ngFor="let craftKey of quest.unlockCraftKeys"
      [name]="gameDataService.getCraft(craftKey.key).name"
      type="crafts"
      [imageKey]="gameDataService.getCraft(craftKey.key).imageKey"></app-reward-unlock>
  </div>
  <div *ngIf="quest.unlockLocationKeys.length > 0">
    <app-reward-unlock *ngFor="let locationKey of quest.unlockLocationKeys"
      [name]="gameDataService.getLocation(locationKey.key).name"
      type="locations"
      [imageKey]="gameDataService.getCraft(locationKey.key).imageKey"></app-reward-unlock>
  </div>
  <div *ngIf="quest.unlockQuestKeys.length > 0">
    <app-reward-unlock *ngFor="let questKey of quest.unlockQuestKeys"
      [name]="gameDataService.getQuest(questKey.key).name"
      type="quests"
      [imageKey]="gameDataService.getQuest(questKey.key).imageKey"></app-reward-unlock>
  </div>
</div>
