<div class=".breadcrumb">
  <a [routerLink]="['/locations', currentQuest.parentLocationKey]" *ngIf="currentQuest.parentLocationKey"> &lt; {{heroService.getLocation(currentQuest.parentLocationKey).name}}</a>
</div>

<div class="quest">
  <div class="title">
    <h2><img src="/assets/images/quests/{{currentQuest.imageKey}}.png" alt="{{currentQuest.name}} - {{currentQuest.description}}" width="64" height="64"/> {{currentQuest.name}}</h2>
  </div>
  <div class="description">
    {{currentQuest.description}}
  </div>

  <div class="actions" *ngIf="canUndertakeQuest(currentQuest.key)">
    <button type="button" class="btn" (click)="undertakeQuest(currentQuest.key)">Undertake Quest</button>
  </div>

  <div class="requires-gold" *ngIf="currentQuest.requiredGold > 0">
    <h3>Required Gold</h3>
    {{currentQuest.requiredGold}}
  </div>
  <div class="requires" *ngIf="currentQuest.requiredItems.length > 0">
    <h3>Required Items</h3>
    <app-item-count
      *ngFor="let itemQuantity of currentQuest.requiredItems"
      [item]="gameDataService.getItem(itemQuantity.key)"
      [itemCount]="itemQuantity.count"></app-item-count>
  </div>
  <div class="consumes" *ngIf="currentQuest.consumedItems.length > 0">
    <h3>Consumed Items</h3>
    <app-item-count
      *ngFor="let itemQuantity of currentQuest.consumedItems"
      [item]="gameDataService.getItem(itemQuantity.key)"
      [itemCount]="itemQuantity.count"></app-item-count>
  </div>

  <app-reward-detail [quest]="currentQuest"></app-reward-detail>

</div>

<div class="quest modal" *ngIf="showQuestCompleted">
  <div class="card">
    <div class="card-content">
      <h1>{{currentQuest.name}} Completed!</h1>

      <app-reward-detail [quest]="currentQuest"></app-reward-detail>

      <button type="button" class="btn" (click)="closeQuest()">And there was much rejoicing</button>
    </div>
  </div>
</div>
