<p>quest-detail works!</p>

<div class="quest">
  <div class="title">
    <h2>Quest Name</h2>
  </div>
  <div class="image">
    <img src=""/>
  </div>
  <div class="description">
    description
  </div>
  <div class="requires">
    <h3>Required Items</h3>
    <ul>
      <li>Item ##</li>
    </ul>
  </div>
  <div class="consumes">
    <h3>Consumed Items</h3>
    <ul>
      <li>Item ##</li>
    </ul>
  </div>
  <div class="rewards">
    <h3>Reward</h3>
    <ul>
      <li>Item ##</li>
    </ul>
  </div>
  <div class="actions">
    <ul>
      <li>Complete Quest</li>
    </ul>
  </div>
</div>
