.navbar-fixed nav {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.footer-fixed footer {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {display: flex;min-height: 100vh;flex-direction: column;}
main {flex: 1 0 auto;}

.footer-fixed {
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer ul {
		text-align: center;
    display: table;
    margin: 0 auto;
}

footer img {
  vertical-align: middle;
}

.brand-logo {
  font-family: 'Anton', sans-serif;
}


.hero-display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin: 6px 0;
}

.hero-name {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
