<nav>
  <div class="nav-wraper">
    <a [routerLink]="['/heroes']" class="brand-logo">Merchants</a>
    <ul class="right hide-on-med-and-down">
    </ul>
  </div>
</nav>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<div class="footer-fixed" *ngIf="currentHero">
	<footer class="red lighten-2">
		<nav class="z-depth-0">
			<div class="nav-wrapper">
				<ul>
          <li><img src="/assets/images/heroes/hero001.png" width="32" height="32" [alt]="currentHero.name"/> {{currentHero.name}}</li>
          <li><img src="/assets/images/interface/gold.png" width="32" height="32" alt="Gold" title="Gold"> {{currentHero.gold}}</li>
          <li><a [routerLink]="['/locations']"><img src="/assets/images/interface/map.png" width="32" height="32" alt="Locations" title="Locations"></a></li>
          <li><a [routerLink]="['/crafts']"><img src="/assets/images/interface/hammer.png" width="32" height="32" alt="Craft" title="Craft"></a></li>
          <li><a [routerLink]="['/items']"> <img src="/assets/images/interface/chest.png" width="32" height="32" alt="Inventory" title="Inventory"></a></li>
        </ul>
      </div>
    </nav>
  </footer>
</div>
