<h1>Your Heroes</h1>

<ul class="heroes collection">
  <li *ngFor="let hero of heroService.getHeroes()" class="collection-item" (click)="selectHero(hero.name)">
    <span class="sprite hero-001"></span>
    <div class="multiline">
      <span class="title">{{hero.name}}</span>
      <p>Items: {{hero.items.length}} Locations: {{hero.locations.length}}</p>
    </div>
  </li>
</ul>


<div class="card">
  <div class="card-content">
    <span class="card-title">Create a new Hero</span>
    <form (submit)="addHero()" novalidate>
        <div class="input-field">
          <label for="addNew">Hero's Name</label>
          <input [(ngModel)]="name" name="addNew" placeholder="enter a name for your hero here..." type="text" autocomplete="off">
        </div>
        <button type="submit" class="btn">Create Hero</button>
    </form>
  </div>
</div>
