/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {display: flex;min-height: 100vh; flex-direction: column;}
main {
  flex: 1 0 auto;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

nav {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 56px;
  line-height: 56px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

nav a.logo {
  font-family: 'Anton', sans-serif;
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 0 1rem;
}

nav a.logo:hover {
  background-color: rgba(0,0,0,0.067);
}



.hero-display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin: 6px 0;
}

.hero-name {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.container {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 66px;
  max-width: 1280px;
}

ul.collection {
  margin: .5rem 0 1rem 0;
  padding-left: 0;
  list-style-type: none;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.collection .collection-item {
  min-height: 42px;
  padding-left: 72px;
  position: relative;
  display: flex;
  justify-content: left;
  background: #fff;
  background-image: url('/assets/images/interface/arrow.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 32px;
  line-height: 1.5rem;
  padding: 5px 10px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.collection .collection-item.expandable {
  background-image: url('/assets/images/interface/arrow-down.png') !important;
}

.collection.sellable .collection-item {
  background-image: none !important;
}

.collection.sellable .collection-item {
  justify-content: space-between;
}

.collection .collection-item:last-child {
  border-bottom: none;
}

.collection .collection-item:hover {
  cursor: pointer;
}

.collection .collection-item>* {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.collection .collection-item img {
  margin-right: 10px;
}

.icon {
  border-radius: 3px;
  border: 2px solid #333;
}

.collection .multiline {
  display: inline-block;
}

h2 img {
  margin-right: 4px;
}

.card {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);

}

.card .card-content {
  padding: 24px;
}

.btn {
  text-align: center;
  letter-spacing: .5px;
  color: #fff;
  text-transform: uppercase;
  transition: background-color .2s ease-out;
  background-color: #26a69a;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  vertical-align: middle;
}

.btn:hover {
  background-color: #2bbbad;
}

.btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.input-field {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  height: 2rem;
  margin: 0 0 8px 0;
  padding: 2px;
}

h2{
  display: flex;
  align-items: center;
}

.breadcrumb {
  margin-top: 1rem;
  font-weight: 500;
}

.breadcrumb a {
  text-decoration: none;
  color: blue;
}

.item-count {
  display: flex;
  align-items: center;
}

.quest.modal {
  text-align: center;
}

.quest.modal span, .quest.modal div, .reward-unlock span {
  display: flex;
}

.reward-unlock img {
  margin-right: 10px;
}

.reward-unlock span {
  align-items: center;
}

.quest .description, .rewards {
  margin-bottom: 1rem;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 96vw;
  height: 96vh;
  background-color: rgba(0,0,0,0.7);
  padding: 2vh 2vw;
}

.navbar-fixed nav {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.footer-fixed footer {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.footer-fixed {
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer ul {
		text-align: center;
    display: table;
    margin: 0 auto;
    list-style: none;
}

footer ul li {
  transition: background-color .3s;
  float: left;
}

footer ul li span {
  margin: 0 10px;
}

footer ul li:hover {
  background-color: rgba(0,0,0,0.067);
}

nav ul a {
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

footer img {
  vertical-align: middle;
}
