<div class="breadcrumb">
  <a [routerLink]="['/locations']">Locations</a>
  <span *ngIf="currentLocation.parentLocationKey">&nbsp;&lt;&nbsp;</span>
  <a [routerLink]="['/locations', currentLocation.parentLocationKey]" *ngIf="currentLocation.parentLocationKey">{{heroService.getLocation(currentLocation.parentLocationKey).name}}</a>
</div>


<div class="location">
  <div class="title">
    <h2><img src="/assets/images/locations/{{currentLocation.imageKey}}.png" width="32" height="32" class="icon"/> {{currentLocation.name}}</h2>
  </div>
  <div class="description">
    {{currentLocation.description}}
  </div>

  <div class="locations" *ngIf="heroService.getAvailableLocationsByParent(currentLocation.key).length > 0">
    <h3>Travel To</h3>

    <ul class="locations collection">
      <li *ngFor="let location of heroService.getAvailableLocationsByParent(currentLocation.key)" class="collection-item" [routerLink]="['/locations', location.key]">
        <img src="/assets/images/locations/{{location.imageKey}}.png" width="32" height="32" [alt]="location.name + ' - ' + location.description" class="icon"/>
        <span class="title">{{location.name}}</span>
      </li>
    </ul>
  </div>

  <div class="quests" *ngIf="heroService.getAvailableQuestsByLocation(currentLocation.key).length > 0">
    <h3>Available Quests</h3>
    <ul class="collection">
      <li *ngFor="let quest of heroService.getAvailableQuestsByLocation(currentLocation.key)" class="collection-item" [routerLink]="['/quests', quest.key]">
        <img src="/assets/images/quests/{{quest.imageKey}}.png" width="32" height="32" [alt]="quest.name + ' - ' + quest.description" class="icon"/>
        <span class="title">{{quest.name}}</span>
      </li>
    </ul>
  </div>

  <div class="sells-items" *ngIf="heroService.getSellsItemsByLocation(currentLocation.key).length > 0">
    <h3>Vendor is selling</h3>
    <app-item-buyable
      [items]="heroService.getSellsItemsByLocation(currentLocation.key)"
      [sellsMarkup]="currentLocation.sellsMarkup"></app-item-buyable>
  </div>

  <div class="buys-items" *ngIf="heroService.getBuysItemsByLocation(currentLocation.key).length > 0">
    <h3>Vendor will buy</h3>
    <app-item-sellable
      [items]="heroService.getBuysItemsByLocation(currentLocation.key)"
      [buysMarkup]="currentLocation.buysMarkup"></app-item-sellable>
  </div>

</div>
